#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

ome of the popular languages that Data Scientists use are:

1.Python

2.R

3.Julia

4.Scala

Some of the commonly used libraries used by Data Scientists include:

1.Numpy

2.Pandas

3.matplotlib

4.Seaborn

5.Scitik-Learn

|Data Science Tools|
|---|
|Jupyter Notebook|
|---|
|TenserFlow|
|---|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:** 

* popular languages that Data Scientists 
* Data Science Tools
* commonly used libraries 
* few examples of evaluating arithmetic expressions
* an example to covert minutes into hours

## Author
Kinan Hasan